# Funciton in Python

In [1]:
def fun(value):
    return 'even' if value%2==0 else 'odd'

In [4]:
fun(67)

'odd'

In [5]:
def hello_world():
    print('Hello welcome')

In [6]:
hello_world()

Hello welcome

In [7]:
def hello_world():
    return 'Hello welcome'

In [8]:
hello_world()

'Hello welcome'

In [9]:
def add_number(a,b):
    return a+b

In [10]:
x = add_number(56,4)
x

60

In [11]:
# keywords arguments
def hello(*args,**kwargs):
    print(args)
    print(kawargs)

# Lambda function

In [13]:
def add(a,b):
    return a + b

In [14]:
add(5,6)

11

In [16]:
add = lambda a,b: a + b # taplate for lambda -> lambda inputs : operations

In [17]:
add(6,7)

13

In [18]:
def even(val):
    return val%2==0

In [21]:
# or
even = lambda val : val%2==0

In [22]:
even(5)

False

In [23]:
def add_3(a,b,c):
    return a + b + c

In [24]:
add_3 = lambda a,b,c : a + b + c

In [25]:
add_3(5,6,7)

18

# Map fundtion in python

In [27]:
def even_or_odd(num):
    return 'even' if num%2==0 else 'odd'

In [28]:
# if we want to apply some operation on every element of list then we can use 
# map function 
lst = [1,2,3,4,5,6,7,8]
list(map(even_or_odd,lst))

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [1]:
# write a python program to triple all the list number 
lst = [1,2,3,4,5,6,7,8]
list(map(lambda x : 3*x,lst))

[3, 6, 9, 12, 15, 18, 21, 24]

In [3]:
# add three given list multiply there values in single list 
l1 = [1,2,3,4,5,6,7]
l2 = [1,2,3,4,5,6,7]
l3 = [1,2,3,4,5,6,7]

list(map(lambda x,y,z : x*y*z,l1,l2,l3))

[1, 8, 27, 64, 125, 216, 343]

In [7]:
# given a binary string find the longest contigues sequence of 1's
val = input('enter the binary string')
x = list(map(len,val.split('0')))

enter the binary string1011110111111110111010101111110101111

In [8]:
x
# now this is the list of length of consecutive one's

[1, 4, 8, 3, 1, 1, 6, 1, 4]

In [9]:
res = max(map(len,val.split('0')))
print(res)

# maximum 8 is answer

8

In [17]:
# given a decimal number count all the one's using map function 
val = int(input())
res = sum(list(map(len,bin(val)[2:].split('0'))))
print(res)

234
5

In [18]:
bin(234)
# in above code we have removed first two character from string '0b'

'0b11101010'

# Filter method

In [1]:
lst = [1,2,3,4,5,6,7,8]
a = list(map(lambda x : x if x%2==0 else 0,lst))
a

[0, 2, 0, 4, 0, 6, 0, 8]

In [ ]:
# filter all the even elements from the list
# can you do using map funtion ? NO"

In [2]:
# we can do this using filter function 
def even(val):
    return val%2==0
x = list(filter(even,lst))

In [3]:
x

[2, 4, 6, 8]

In [4]:
# with lamba function 
list(filter(lambda x : x%2==0, lst))

[2, 4, 6, 8]

# List Comprehension

In [5]:
lst1 = []
def lst_square(lst):
    for i in lst:
        lst1.append(i*i)
    return lst1

In [6]:
lst_square([1,2,3,4,5,6,7])

[1, 4, 9, 16, 25, 36, 49]

In [7]:
# using list compreshension
[i*i for i in [1,2,3,4,5,6,7]]

[1, 4, 9, 16, 25, 36, 49]

In [8]:
# squre of only even numbers
[i*i for i in [1,2,3,4,5,6,7,8] if i%2==0]

[4, 16, 36, 64]

# String Formating in Python

In [10]:
def greeting(name):
    return "Hello {},welcome to the cummunity".format(name)

In [11]:
def welcome_email(name,age):
    return "welcome {}.your age is {}".format(name,age)

In [14]:
welcome_email("vicky",20)

'welcome vicky.your age is 20'

In [15]:
greeting("vicky")

'Hello vicky,welcome to the cummunity'

In [16]:
#we can do this in an easy manner with f'string'
def greeting(name):
    return f'Hello {name},welcome to the community'

In [17]:
greeting("vicky")

'Hello vicky,welcome to the community'

In [21]:
def welcome_email(name,age):
    return f'welcome {name},your age is {age}'

In [22]:
welcome_email('vicky',20)

'welcome vicky,your age is 20'

# Python List Iterables vs iterators

In [30]:
lst = [1,2,3,4,5,6,7]
lst1 = iter(lst)

In [24]:
lst1

In [25]:
next(lst1)

1

In [26]:
next(lst1)

2

In [27]:
next(lst1)

3

In [28]:
next(lst1)

4

In [29]:
for i in lst1:
    print(i)

5
6
7

In [31]:
for i in lst1:
    print(i)

1
2
3
4
5
6
7

# Pyforest - lazy-import of all Python Data Science libraries

In [32]:
pd.read_csv("train.csv")
# first installl pyorest module form net and load and lear from google

NameError: name 'pd' is not defined