# Random Forest

### Importing Libraries

In [1]:
#Importing required libraries
import pandas as pd 
import numpy as np

### Loading the dataset

In [2]:
#reading the data
data=pd.read_csv('data_cleaned.csv')

In [3]:
data.shape

(891, 25)

In [4]:
#first five rows of the data
data.head()

,Survived,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,SibSp_0,SibSp_1,...,Parch_0,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,Embarked_C,Embarked_Q,Embarked_S
0,0,22.0,7.2500,0,0,1,0,1,0,1,...,1,0,0,0,0,0,0,0,0,1
1,1,38.0,71.2833,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,1,0,0
2,1,26.0,7.9250,0,0,1,1,0,1,0,...,1,0,0,0,0,0,0,0,0,1
3,1,35.0,53.1000,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,0,0,1
4,0,35.0,8.0500,0,0,1,0,1,1,0,...,1,0,0,0,0,0,0,0,0,1

### Separating independent and dependent variables.

In [5]:
#independent variables
x = data.drop(['Survived'], axis=1)

#dependent variable
y = data['Survived']

### Creating the train and test dataset

In [6]:
#import the train-test split
from sklearn.model_selection import train_test_split

In [7]:
#divide into train and test sets
train_x,test_x,train_y,test_y = train_test_split(x,y, random_state = 101, stratify=y)

## Building a Decision Tree Model

In [8]:
#Importing Decision Tree Classifier 
from sklearn.tree import DecisionTreeClassifier

In [9]:
#creating a decision tree instance
clf = DecisionTreeClassifier(random_state=96)

In [10]:
#training the model
clf.fit(train_x,train_y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=96,
            splitter='best')

In [11]:
#calculating score on training data
clf.score(train_x, train_y)

0.9880239520958084

In [12]:
#calculating score on test data
clf.score(test_x, test_y)

0.75784753363228696

## Building a Random Forest Model

In [13]:
#Importing random forest classifier 
from sklearn.ensemble import RandomForestClassifier

In [14]:
#creating a random forest instance
clf = RandomForestClassifier(random_state=96)

In [15]:
#train the model
clf.fit(train_x,train_y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=96, verbose=0, warm_start=False)

In [16]:
#score on training data
clf.score(train_x, train_y)

0.97754491017964074

In [17]:
#score on test data
clf.score(test_x, test_y)

0.74439461883408076

In [18]:
#looking at the feature importance
clf.feature_importances_

array([ 0.22148078,  0.24077366,  0.02364845,  0.01431743,  0.05514436,
        0.14844908,  0.15994665,  0.01032445,  0.02255023,  0.00702552,
        0.00716239,  0.0043597 ,  0.00046324,  0.00498024,  0.01663663,
        0.0110289 ,  0.00780892,  0.00025718,  0.00090637,  0.00367174,
        0.00136169,  0.00976452,  0.0087709 ,  0.01916697])

In [19]:
#feature importance against each variable
pd.Series(clf.feature_importances_, index=train_x.columns)

Age           0.221481
Fare          0.240774
Pclass_1      0.023648
Pclass_2      0.014317
Pclass_3      0.055144
Sex_female    0.148449
Sex_male      0.159947
SibSp_0       0.010324
SibSp_1       0.022550
SibSp_2       0.007026
SibSp_3       0.007162
SibSp_4       0.004360
SibSp_5       0.000463
SibSp_8       0.004980
Parch_0       0.016637
Parch_1       0.011029
Parch_2       0.007809
Parch_3       0.000257
Parch_4       0.000906
Parch_5       0.003672
Parch_6       0.001362
Embarked_C    0.009765
Embarked_Q    0.008771
Embarked_S    0.019167
dtype: float64